body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: pink;
  font-family: Arial;
}

.card {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  height: 200px;
  text-align: center;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

#yes {
  background: red;
  color: white;
}

#no {
  position: absolute;
}
